<form [formGroup]="loginForm" (ngSubmit)="Onlogin()">
    <mat-form-field>
      <input matInput type="email" placeholder="Email" formControlName="email" required>
      <mat-error *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched">
        Please enter a valid email address.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" required>
    </mat-form-field>
    <button mat-raised-button class="btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
  </form>
